/brainrot
/.git
/.vscode
/__pycache__
/vosk-model-en-us-0.22
/Roboto-ExtraBold.ttf
/final_video_with_subs.mp4
/final_video.mp4
/output_0.wav
/tts_output.wav
/videoplayback.mp4
/test.py
/eehjpdesign4h634.pdf
/example.pdf
/kokoro_script.txt
/snippet.py